<% if @commits %>
  <table>
    <colgroup>
      <col class="sha">
      <col class="author">
      <col class="msg">
    </colgroup>
  <% @commits.each do |commit| %>
    <% commit = commit["commit"] %>
    <tr data-sha="<%= commit["tree"]["sha"][0..9] %>">
      <td><code><%= commit["tree"]["sha"][0..9] %></code></td>
      <td><code><%= commit["author"]["name"][0...15] %><% if commit["author"]["name"].length > 15 %>…<% end %></code></td>
      <td><code><%= commit["message"][0...72] %><% if commit["message"].length > 72 %>…<% end %></code></td>
    </tr>
  <% end %>
  </table>
<% end %>