<div id="pull_request_loading" class="loading inpage">
  <h3>Fetching pull requests from Github</h3>
  <div class="ball"></div>
  <div class="ball1"></div>
</div>

<div id="focus_loading" class="loading inpage" style="display:none">
  <h3>Downloading pull request details...</h3>
  <div class="ball"></div>
  <div class="ball1"></div>
</div>
