<div id="working" class="loading modal hide fade">
  <div class="modal-body">
    <div class="loading">
      <h3>Working...</h3>
      <div class="ball"></div>
      <div class="ball1"></div>
    </div>
  </div>
</div