cd {{{clone}}} && \
git checkout {{{base}}} && \
git fetch git://github.com/{{{org}}}/{{{repo}}}.git && \
git pull git://github.com/{{{org}}}/{{{repo}}}.git {{{base}}} && \
git fetch {{{user}}} && \
git merge --log --no-ff -m "{{{message}}}" {{{user}}}/{{{head}}} && \
git push {{{remote}}} {{{base}}}
