cd {{{clone}}} && \
git checkout {{{base}}} && \
git fetch git://github.com/{{{org}}}/{{{repo}}}.git && \
git pull git://github.com/{{{org}}}/{{{repo}}}.git {{{base}}} && \
git checkout -B {{{user}}}-{{{head}}} {{{base}}} && \
git pull git://github.com/{{{user}}}/{{{repo}}}.git {{{head}}}
